<div id="game">
	<div class="container bootcards-container" id="main">
	    
	    <div class="row">
	       <div class="col-md-9">
	         <div class="alert alert-success" role="alert">{{logMessage}}</div>
	       </div>
	    </div>
		<div class="row" ng-class="coverClass">
			<div class="bootcards-cards">
				<div class="col-md-9">
					<div class="panel panel-default bootcards-summary">
						<div class="panel-heading">
							<h3 class="panel-title">Dashboard</h3>
						</div>

						<div class="panel-body">
							<div class="col-md-9 panel-body">
								<div class="row">
									<div class="col-md-5ths col-xs-2" id="#0">
										<a class="bootcards-summary-item" href="#" data-pjax="#main"
											data-title="Email" style="padding-top: 35px;"> <i
											class="fa fa-3x fa-envelope"></i>
											<h4>
												Email <span class="label hack-objectives"> <i
													class="fa fa-2x fa-cogs"></i>
												</span>
													<span class="hack-hacker hacker-black-hat" ng-hide=> 
														<i class="fa fa-2x fa-user-secret"></i>
													</span>
											</h4>
										</a>
									</div>
									<div class="col-md-5ths col-xs-2" id="#1">
										<a class="bootcards-summary-item" href="#" data-pjax="#main"
											data-title="RSS" style="padding-top: 35px;"> <i
											class="fa fa-3x fa-rss"></i>
											<h4>
												RSS <span class="label hack-objectives"> </span>
												
											</h4>
										</a>
									</div>
									<div class="col-md-5ths col-xs-2" id="#2">
										<a class="bootcards-summary-item" href="#" data-pjax="#main"
											data-title="Social Media" style="padding-top: 35px;"> <i
											class="fa fa-3x fa-users"></i>
											<h4>
												Social Media <span class="label hack-objectives"> <i
													class="fa fa-2x fa-exclamation-triangle"></i>
												</span>
											</h4>
										</a>
									</div>
									<div class="col-md-5ths col-xs-2" id="#3">
										<a class="bootcards-summary-item" href="#" data-pjax="#main"
											data-title="Servers" style="padding-top: 35px;"> <i
											class="fa fa-3x fa-server"></i>
											<h4>
												Servers <span class="label hack-objectives"> <i
													class="fa fa-2x fa-cogs"></i>
												</span>
											</h4>
										</a>
									</div>
									<div class="col-md-5ths col-xs-2" id="#4">
										<a class="bootcards-summary-item" href="#"
											style="padding-top: 35px;"> <i class="fa fa-3x fa-plug"></i>
											<h4>
												Power <span class="label hack-objectives"> <i
													class="fa fa-2x fa-user-times"></i>
												</span>
											</h4>
										</a>
									</div>
								</div>
								<div class="row">
									<div class="col-md-5ths col-xs-2" id="#5">
										<a class="bootcards-summary-item" href="/contacts"
											data-pjax="#main" data-title="Contacts"
											style="padding-top: 35px;"> <i
											class="fa fa-3x fa-percent "></i>
											<h4>
												Trade System <span class="label hack-objectives"> <i
													class="fa fa-2x fa-exclamation-triangle"></i>
												</span>
											</h4>
										</a>
									</div>
									<div class="col-md-5ths col-xs-2" id="#6">
										<a class="bootcards-summary-item" href="#"
											data-pjax="#main" data-title="Bluetooth"
											style="padding-top: 35px;"> <i
											class="fa fa-3x fa-bluetooth"></i>
											<h4>
												Bluetooth <span class="label hack-objectives"> </span>
											</h4>
										</a>
									</div>
									<div class="col-md-5ths col-xs-2" id="#7">
										<a class="bootcards-summary-item" href="#"
											data-pjax="#main" data-title="Code"
											style="padding-top: 35px;"> <i class="fa fa-3x fa-code"></i>
											<h4>
												Code <span class="label hack-objectives"> </span>
											</h4>
											
										</a>
									</div>
									<div class="col-md-5ths col-xs-2" id="#8">
										<a class="bootcards-summary-item" href="#"
											data-pjax="#main" data-title="LAN"
											style="padding-top: 35px;"> <i class="fa fa-3x fa-random"></i>
											<h4>
												LAN <span class="label hack-objectives"> <i
													class="fa fa-2x fa-cogs"></i>
												</span>
												<span class="hack-hacker hacker-script-kiddie"> 
														<i class="fa fa-2x fa-user-secret"></i>
													</span>
											</h4>
										</a>
									</div>
									<div class="col-md-5ths col-xs-2" id="#9">
										<a class="bootcards-summary-item" href="#"
											style="padding-top: 35px;"> <i class="fa fa-3x fa-signal"></i>
											<h4>
												Mobile Devices <span class="label hack-objectives"> <i
													class="fa fa-2x fa-user-times"></i>
												</span>
											</h4>
										</a>
									</div>
								</div>
								<div class="row">
									<div class="col-md-5ths col-xs-2" id="#10">
										<a class="bootcards-summary-item" href="#"
											data-pjax="#main" data-title="SSH"
											style="padding-top: 35px;"> <i
											class="fa fa-3x fa-terminal"></i>
											<h4>
												SSH <span class="label hack-objectives"></span>
											</h4>
										</a>
									</div>
									<div class="col-md-5ths col-xs-2" id="#11">
										<a class="bootcards-summary-item" href="#"
											data-pjax="#main" data-title="Workstations"
											style="padding-top: 35px;"> <i
											class="fa fa-3x fa-television"></i>
											<h4>
												Workstations <span class="label hack-objectives"> <i
													class="fa fa-2x fa-cogs"></i>
												</span>
												<span class="hack-hacker hacker-state-sponsored"> 
														<i class="fa fa-2x fa-user-secret"></i>
													</span>
											</h4>
										</a>
									</div>
									<div class="col-md-5ths col-xs-2" id="#12">
										<a class="bootcards-summary-item" href="#"
											data-pjax="#main" data-title="Video Camera"
											style="padding-top: 35px;"> <i
											class="fa fa-3x fa-video-camera"></i>
											<h4>
												Video Camera <span class="label hack-objectives"><i
													class="fa fa-2x fa-user-times"></i> </span>
											</h4>
										</a>
									</div>
									<div class="col-md-5ths col-xs-2" id="#13">
										<a class="bootcards-summary-item" href="#"
											data-pjax="#main" data-title="Charts"
											style="padding-top: 35px;"> <i class="fa fa-3x fa-wifi"></i>
											<h4>
												Wifi <span class="label hack-objectives"> </span>
											</h4>
										</a>
									</div>
									<div class="col-md-5ths col-xs-2" id="#14">
										<a class="bootcards-summary-item" href="#"
											style="padding-top: 35px;"> <i
											class="fa fa-3x fa-credit-card-alt"></i>
											<h4>
												Payment Info <span class="label hack-objectives"> </span>
											</h4>
										</a>
									</div>
								</div>
								<div class="row">
									<div class="col-md-5ths col-xs-2" id="#15">
										<a class="bootcards-summary-item" href="#"
											data-pjax="#main" data-title="Contacts"
											style="padding-top: 35px;"> <i
											class="fa fa-3x fa-bar-chart"></i>
											<h4>
												Tenders <span class="label hack-objectives"> </span>
											</h4>
										</a>
									</div>
									<div class="col-md-5ths col-xs-2" id="#16">
										<a class="bootcards-summary-item" href="#"
											data-pjax="#main" data-title="Companies"
											style="padding-top: 35px;"> <i class="fa fa-3x fa-usd"></i>
											<h4>
												Money <span class="label hack-objectives"> <i
													class="fa fa-2x fa-eye-slash"></i>
												</span>
											</h4>
										</a>
									</div>
									<div class="col-md-5ths col-xs-2" id="#17">
										<a class="bootcards-summary-item" href="#"
											data-pjax="#main" data-title="Notes"
											style="padding-top: 35px;"> <i class="fa fa-3x fa-taxi"></i>
											<h4>
												Transport <span class="label hack-objectives"> </span>
											</h4>
										</a>
									</div>
									<div class="col-md-5ths col-xs-2" id="#18">
										<a class="bootcards-summary-item" href="#"
											data-pjax="#main" data-title="Charts"
											style="padding-top: 35px;"> <i
											class="fa fa-3x fa-cloud-download"></i>
											<h4>
												Cloud <span class="label hack-objectives"> <i
													class="fa fa-2x fa-unlock"></i>
												</span>
											</h4>
										</a>
									</div>
									<div class="col-md-5ths col-xs-2" id="#19">
										<a class="bootcards-summary-item" href="#"
											style="padding-top: 35px;"> <i
											class="fa fa-3x fa-files-o"></i>
											<h4>
												Documents <span class="label hack-objectives"> <i
													class="fa fa-2x fa-eye-slash"></i>
												</span>
												<span class="hack-hacker hacker-hacktivist"> 
														<i class="fa fa-2x fa-user-secret"></i>
													</span>
											</h4>
										</a>
									</div>
								</div>
								<div class="row">
									<div class="col-md-5ths col-xs-2" id="#20">
										<a class="bootcards-summary-item" href="#"
											data-pjax="#main" data-title="Contacts"
											style="padding-top: 35px;"> <i
											class="fa fa-3x fa-commenting-o"></i>
											<h4>
												Chats <span class="label hack-objectives"> <i
													class="fa fa-2x fa-unlock"></i>
													</span>
													<span class="hack-hacker hacker-spy"> 
														<i class="fa fa-2x fa-user-secret"></i>
													</span>
											</h4>
										</a>
									</div>
									<div class="col-md-5ths col-xs-2" id="#21">
										<a class="bootcards-summary-item" href="#"
											data-pjax="#main" data-title="Companies"
											style="padding-top: 35px;"> <i
											class="fa fa-3x fa-copyright"></i>
											<h4>
												Patents <span class="label hack-objectives"> </span>
											</h4>
										</a>
									</div>
									<div class="col-md-5ths col-xs-2" id="#22">
										<a class="bootcards-summary-item" href="#"
											data-pjax="#main" data-title="Notes"
											style="padding-top: 35px;"> <i class="fa fa-3x fa-shield"></i>
											<h4>
												Firewall <span class="label hack-objectives"> <i
													class="fa fa-2x fa-eye-slash"></i>
												</span>
											</h4>
										</a>
									</div>
									<div class="col-md-5ths col-xs-2" id="#23">
										<a class="bootcards-summary-item" href="#"
											data-pjax="#main" data-title="Charts"
											style="padding-top: 35px;"> <i
											class="fa fa-3x fa-user-plus"></i>
											<h4>
												User Group <span class="label hack-objectives"></span>
											</h4>
										</a>
									</div>
									<div class="col-md-5ths col-xs-2" id="#24">
										<a class="bootcards-summary-item" href="#"
											style="padding-top: 35px;"> <i
											class="fa fa-3x fa-sitemap"></i>
											<h4>
												Network <span class="label hack-objectives"> <i
													class="fa fa-2x fa-unlock"></i>
												</span>
											</h4>
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-3" id="panel-game-controls">
								<div>
									<div class="panel panel-default">

										<div class="panel-heading">
											<h3 class="panel-title">Controls</h3>
										</div>

										<!--<div class="panel-body">
											<div class="col-md-4 col-md-offset-4 panel-control">
												<button class="btn btn-default btn-block" onclick="">
													<i class="fa fa-arrow-up"></i>
												</button>
											</div>
											<div class="clearfix"></div>
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block" onclick="">
													<i class="fa fa-arrow-left"></i>
												</button>
											</div>
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block" onclick="">
													<i class="fa fa-2x fa-user-secret hacker-hacktivist"></i>
												</button>
											</div>
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block" onclick="">
													<i class="fa fa-arrow-right"></i>
												</button>
											</div>
											<div class="col-md-4 col-md-offset-4 panel-control">
												<button class="btn btn-default btn-block" onclick="">
													<i class="fa fa-arrow-down"></i>
												</button>
											</div>
											<div class="clearfix"></div>
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block" onclick="">
													<i class="fa fa-undo"></i>
												</button>
											</div>
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block" onclick="">
													<i class="fa fa-chain-broken"></i>
												</button>
											</div>
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block" onclick="">
													<i class="fa fa-sliders"></i>
												</button>
											</div>
										</div>-->
										<div class="panel-body">
										   
											<!--<div class="col-md-4 col-md-offset-4 panel-control">
												<button class="btn btn-default btn-block" onclick="">
													<i class="fa fa-arrow-up"></i>
												</button>
											</div>-->
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block" onclick="" ng-show="canMoveDiagonal" ng-disabled="!(canStartGame)" ng-click="upLeft()">
													<i class="fa fa-arrow-up rotate-left45"></i>
												</button>
											</div>
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block"  ng-disabled="!(canStartGame)"onclick="" ng-click="upClick()">
													<i class="fa fa-arrow-up"></i>
												</button>
											</div>
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block" onclick="" ng-disabled="!(canStartGame)" ng-show="canMoveDiagonal" ng-click="upRight()">
													<i class="fa fa-arrow-up rotate-right45"></i>
												</button>
											</div>
											<div class="clearfix"></div>
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block" ng-disabled="!(canStartGame)" onclick="" ng-click="leftClick()">
													<i class="fa fa-arrow-left"></i>
												</button>
											</div>
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block" ng-disabled="!(canStartGame)" onclick="">
													<i class="fa fa-2x fa-user-secret" ng-class="playerClass"></i>
												</button>
											</div>
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block" onclick="" ng-disabled="!(canStartGame)" ng-click="rightClick()">
													<i class="fa fa-arrow-right"></i>
												</button>
											</div>
											<div class="clearfix"></div>
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block" onclick="" ng-disabled="!(canStartGame)" ng-show="canMoveDiagonal" ng-click="downLeft()">
													<i class="fa fa-arrow-down rotate-right45"></i>
												</button>
											</div>
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block" onclick="" ng-disabled="!(canStartGame)" ng-click="downClick()">
													<i class="fa fa-arrow-down"></i>
												</button>
											</div>
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block" onclick="" ng-disabled="!(canStartGame)" ng-show="canMoveDiagonal" ng-click="downRight()">
													<i class="fa fa-arrow-down rotate-left45"></i>
												</button>
											</div>
											<!--<div class="col-md-4 col-md-offset-4 panel-control">
												<button class="btn btn-default btn-block" onclick="">
													<i class="fa fa-arrow-down"></i>
												</button>
											</div>-->
											<div class="clearfix"></div>
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block"  ng-disabled="!(canStartGame)" onclick="" ng-click="undo()">
													<i class="fa fa-undo"></i>
												</button>
											</div>
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block" ng-disabled="!(canStartGame)" onclick="">
													<i class="fa fa-chain-broken"></i>
												</button>
											</div>
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block" ng-disabled="!(canStartGame)" onclick="">
													<i class="fa fa-sliders"></i>
												</button>
											</div>
										</div>

									</div>
									<div class="panel panel-default">

										<div class="panel-heading">
											<h3 class="panel-title">Action Cards</h3>
										</div>

										<div class="panel-body">
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block" onclick="">
													<i class="fa fa-bug"></i>
												</button>
											</div>
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block" onclick="">
													<i class="fa fa-ban"></i>
												</button>
											</div>
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block" onclick="">
													<i class="fa fa-download"></i>
												</button>
											</div>
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block" onclick="">
													<i class="fa fa-exchange"></i>
												</button>
											</div>
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block" onclick="">
													<i class="fa fa-wrench"></i>
												</button>
											</div>
											<div class="col-md-4 panel-control">
												<button class="btn btn-default btn-block" onclick="">
													<i class="fa fa-wheelchair"></i>
												</button>
											</div>
										</div>

									</div>
									<div class="panel-footer">Actions Rem:{{4}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="col-sm-3">
				<div>
					<div class="panel panel-default">

						<div class="panel-heading">
							<h3 class="panel-title">Objectives</h3>
						</div>

						<div class="panel-body">
							<div class="col-md-5ths col-xs-2 panel-control hack-objective">
								<button class="btn btn-default btn-block" onclick="">
									<i class="fa fa-cogs"></i>
								</button>
							</div>
							<div class="col-md-5ths col-xs-2 panel-control hack-objective">
								<button class="btn btn-default btn-block" onclick="">
									<i class="fa fa-exclamation-triangle"></i>
								</button>
							</div>
							<div class="col-md-5ths col-xs-2 panel-control hack-objective">
								<button class="btn btn-default btn-block" onclick="">
									<i class="fa fa-user-times"></i>
								</button>
							</div>
							<div class="col-md-5ths col-xs-2 panel-control hack-objective">
								<button class="btn btn-default btn-block" onclick="">
									<i class="fa fa-eye-slash"></i>
								</button>
							</div>
							<div class="col-md-5ths col-xs-2 panel-control hack-objective">
								<button class="btn btn-default btn-block" onclick="">
									<i class="fa fa-unlock"></i>
								</button>
							</div>
						</div>

					</div>
					<div class="panel panel-default bootcards-chart hack-security-status">
						<div class="panel-heading">
							<h3 class="panel-title">Security Status</h3>
						</div>
						<div class="panel-body">
							<div id="canvas-holder">
								<canvas id="security-level" width="100" height="100"></canvas>
							</div>

						</div>
						<div class="panel-footer">
							<button class="btn btn-default btn-block"
								onclick="toggleChatData(event)">
								<i class="fa fa-users"></i> Show Chat
							</button>
						</div>
					</div>
					
					<div class="panel panel-default bootcards-chart hack-chat">
						<div class="panel-heading">
							<h3 class="panel-title">Chat Box</h3>
						</div>
						<div class="panel-body">
							<div id="chat-box">
								<div id="chat-messages">
									<ul class="messages">
										<li class="log">Welcome to Hackers chat –</li>
										<li class="log">there are {{currentNumberOfPlayers}} participants</li>
										<li class="message" ng-repeat="message in messages">
											<span ng-class="message.user" class="message-hacker"> 
												<i class="fa fa-2x fa-user-secret"></i>
											</span> 
											<span class="messageBody">{{message.text}}</span>
										</li>
									</ul>
								</div>
								<form ng-submit="sendMessage()">
								  <input type="text" id="chat-input" ng-model="chatMessage"></input>
								</form>
							</div>

						</div>
						<div class="panel-footer">
							<button class="btn btn-default btn-block"
								onclick="toggleChatData(event)">
								<i class="fa fa-user-secret"></i> Security Status
							</button>
						</div>
					</div>
					<div class="panel-footer">
						<small class="pull-right"> Hack The Network </small>
					</div>
					
					<script type="text/javascript">
						$('.hack-chat').hide();
					</script>
				</div>
			</div>
		</div>

	</div>

</div>	

<!--<script>
(function() {
	var doughnutData = [ {
		value : 1,
		color : "#46BFBD",
		highlight : "#5AD3D1",
		label : "Security Updates"
	}, {
		value : 2,
		color : "#FDB45C",
		highlight : "#FFC870",
		label : "Security Updates"
	}, {
		value : 3,
		color : "#386bb7",
		highlight : "#6d96d2",
		label : "Security Updates"
	}, {
		value : 4,
		color : "#c43fa2",
		highlight : "#d26db8",
		label : "Security Updates"
	}, {
		value : 5,
		color : "#9334b1",
		highlight : "#bb6dd4",
		label : "Security Updates"
	}, {
		value : 6,
		color : "#F7464A",
		highlight : "#FF5A5E",
		label : "Security Updates"
	}
	];

	window.onload = function() {
		
		console.log("The element with security level is:"+document.getElementById("security-level"));
		if(document.getElementById("security-level")){
		  var ctx = document.getElementById("security-level").getContext("2d");
		  window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {
			responsive : true
		});
		
		}
		
	};
</script>-->
	
